:root {
  --button-height: 40px;
  --bold: bold;
  --container-radius: 1rem;
}
.App {
  text-align: center;
}

.v-flex {
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;
}

.container {
  padding: 1rem;
  margin: auto;
  border-radius: var(--container-radius);
  border: 2px solid rgb(80, 80, 80);
}

.submit-btn {
  width: 100%;
  height: var(--button-height);
  border-radius: calc(var(--container-radius) / 2);
  font-size: 1rem;
  font-weight: var(--bold);
  border: none;
  color: white;
  background-color: red;
}
